*,, *:before, *:after{
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding:0;
}

html{
  overflow-x:auto;
  overflow-y: scroll;
  background: linear-gradient(white,ghostwhite,pink,yellow);
  line-height: 1.15;
}

body{
  font-family:'Titillium Web', Verdana,sans-serif;
  background-repeat: no-repeat;
  min-width:920px;
  height: 100%;
}
.mask{
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000;
  background-image: url("/ui/loader.gif");
  background-repeat: repeat;
  opacity: 0.6;
}
.fl-right{
  float: right;
}
.fl-left{
    float:left;
}
marquee{
  text-align: center;
}
marquee h2{
  text-decoration: underline;
}
#blogname{
  height: 100%;
  width: 250px;
  padding: 2px;
  font-family: cursive;
  text-shadow: 2px 2px 4px grey;
  animation-name: bloganimation;
  animation-iteration-count: infinite;
  animation-duration: 8s;
  animation-direction: alternate;
}

#banner{
  width:100%;
  text-align: center;
  font-size: 48px;
  line-height: 90px;
  padding: 5px;
  height: 95px;
  background: #232f3e;
}

#acc-tab{
  align-items: center;
  color: darkblue;
}
#acc-tab form fieldset input{
  background-color: white;
}
legend{
  color: black;
}
#acc-tab input{
  width:100%;
}

.contentwrapper{
  width: inherit;
  height: inherit;
  text-align: justify;
  margin-top: 2px;
  float: none;
}
.contentwrapper form fieldset{
  border:0px;
  height: 97%;
}
.contentwrapper form fieldset input,textarea{
  margin: 3px;
}
.contentdata{
  width: 65%;
  height:85%;
}

ul.navbar{
  list-style-type: none;
  padding: 5px;
  height: 45px;
  background: #232f3e;
}

ul.navbar li{
  border-bottom-width: medium;
  border-right-width: 2px;
  border-radius: 10px;
  font-size: 20px;
  line-height: 30px;
  font-family: fantasy;
  text-align: center;
  margin-left:3px;
  padding: 0px 10px 0px 10px;
}

ul.navbar li a{
  color: white;
  text-decoration: none;
  text-shadow: inherit;
  overflow:hidden;
}

@media screen and (max-width: 940px) {
ul.navbar li{
    width: auto;
    border-radius:0;
    border:none;
    margin:0;
    display:inline-block;
    text-align:justify;
    float: left;
    background-color:inherit;
}
a i.fa:hover{
  color: orange;
  /* text-decoration: underline; */
}
a{
  display: inline;
  font-size:smaller;
  /* color:beige; */
}

ul.navbar li a {
    color: white;
}
ul.navbar{
  float: left;
  width:100%;
  margin: 0;
}

li a.hvr-pulse-grow:hover{
  text-decoration:underline;
  color:orange;
}

}

/*Animation*/
@keyframes bloganimation{
  0%{margin-left:10%;color:crimson;}
  25%{margin-left: 60%;color:pink;}

  75%{margin-right:60%;color:orange;}
  100%{margin-right:50%;color:white;}
}
@keyframes icon-anim{
  0%{color:yellow;}
  20%{color:pink;}
  40%{color:green;}
  60%{color:orange;}
  80%{color:black;}
  100%{color:yellow;}
}

/* Pulse Grow */
@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.hvr-pulse-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  /* color: burlywood; */
}
.hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  color: crimson;
}



/* Float Shadow */
.hvr-float-shadow {
  /* color: crimson; */
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}


.mySlides {display:none}

/* Slideshow container */
.slideshow-container {
  width: auto;
  position: relative;
  margin: auto;
}



/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 20s;
  animation-name:fade;
  animation-duration: 20s;
}

@-webkit-keyframes fade {

}

@keyframes fade {

}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.slideimg {
  width: 100%;
  max-height: 460px;
}

#panel, #flip {
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
}

#panel {
    padding: 50px;
    display: none;
}

ul.tab {
    list-style-type: none;
    margin: 50px 5px 0 10px;
    padding: 0;
    overflow: hidden;
}

#acc-all ul.tab {
    margin-top: 2px;
    margin: auto;
    background: blueviolet;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: blanchedalmond;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    transition: 0.5s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {
    background-color: cornsilk;
    color: black;
}

/* Create an active/current tablink class */
ul.tab li a:focus, ul.tab li.active {
    background-color: crimson;
    border-radius: 0;
    border-right: 1px solid white;
    border-left: 1px solid white;
}

/* Style the tab content */
#tabdetails {
    display: none;
    margin: 0 5px 13px 10px;
    padding: 20px;
    color: darkblue;
    font-family: cursive;
}


.overlay {
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.8);
    overflow-y: hidden;
    transition: 0.5s;
}


.overlay-content {
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    display: inline-flex;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: larger;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
    background-color: rgba(0,0,0, 0.4);
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: larger;
}
a.closebtn:hover{
  background: inherit;
  border:none;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

div.overlay-content a:hover{
  color: orange;
  text-decoration:underline;
}

div.overlay-content a:active,div.overlay-content a:focus{
  background: transparent;
  color: crimson;
  text-decoration:underline;
  border:0;
}
div#register.overlay{
  background: #c1bdba;
  font-family: 'Titillium Web', sans-serif;
}
@font-face{
  font-family:'FontAwesome';
  src:url('/fonturl1');
  src:url('/fonturl2') format('embedded-opentype'),url('/fonturl3') format('woff2'),url('/fonturl4') format('woff'),url('/fonturl5') format('truetype'),url('/fonturl6') format('svg');
  font-weight:normal;
  font-style:normal;
}
.fa{
  display:inline-block;
  font:normal normal normal 14px/1 FontAwesome;
  font-size:inherit;
  text-rendering:auto;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

i#footicon {
    cursor: pointer;
    font-size: 30px;
    margin-bottom: 0;
}

i#foot-icon:hover {
    /* color: white; */
}
.fa-home:before{content:"\f015"}
.fa-search:before{content:"\f002"}
.fa-angle-double-up:before {content: "\f102";}
.fa-angle-double-down:before {content: "\f103";}

#searchbox{
border: none;
box-shadow: none;
background: none;
padding: 0;
display: none;
}

li.fl-left#searchbox div div a{
  color: white;
  font-size: larger;
  padding: 4px;
}


#container{
  margin:0 auto;
  padding: 50px 10px 50px 10px;
}
li a.hvr-pulse-grow:hover {
    text-decoration: underline;
}
a i.fa:hover{
  color:azure;
}

/* Icon Down */
@-webkit-keyframes hvr-icon-down {
  0%,
	50%,
	100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25%,
	75% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@keyframes hvr-icon-down {
  0%,
	50%,
	100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25%,
	75% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}
/* Icon Down */
.hvr-icon-down {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  padding-right: 2.2em;
}
.hvr-icon-down:before {
  content: "\f01a";
  position: absolute;
  right: 1em;
  padding: 0 1px;
  font-family: FontAwesome;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.hvr-icon-down:hover:before, .hvr-icon-down:focus:before, .hvr-icon-down:active:before {
  -webkit-animation-name: hvr-icon-down;
  animation-name: hvr-icon-down;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

/* Icon Up */
@-webkit-keyframes hvr-icon-up {
  0%,
	50%,
	100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25%,
	75% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}
@keyframes hvr-icon-up {
  0%,
	50%,
	100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25%,
	75% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}
/* Icon Up */
.hvr-icon-up {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  padding-right: 2.2em;
}
.hvr-icon-up:before {
  content: "\f01b";
  position: absolute;
  right: 1em;
  padding: 0 1px;
  font-family: FontAwesome;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.hvr-icon-up:hover:before, .hvr-icon-up:focus:before, .hvr-icon-up:active:before {
  -webkit-animation-name: hvr-icon-up;
  animation-name: hvr-icon-up;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;

}
#banner i{
  height: 50px;
  width: 50px;
  position: fixed;
  font-size: 30px;
  right: 1%;
  z-index: 2;
  color: rgba(241, 243, 236, 0.9);
  background: transparent;
  cursor: pointer;
}
#banner i.hvr-icon-down{top: 3%;}

#banner i.hvr-icon-up{bottom: 3%;display: none;}
i{
animation-name:icon-anim;animation-iteration-count: infinite;animation-duration: 10s;
}
input[type=search]{
    width: 75%;
    line-height: 20px;
    border-radius: 35px;
    padding: 5px;
    border:2px solid #232f3e;

}
input[type="search"]:focus {
    outline: none;
}

#container input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
div#register {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    top:33px;
}


div#acc-container {
    margin: 0 auto;
    width: 100%;
    display: inline-block;
    color: azure;
    text-align: -webkit-auto;
    background: transparent;
    overflow-y: auto;
}

ul#acc-nav-div {
    display:none;
    margin:0 auto;
    text-align: justify;
    min-width: 15%;
}
  .acc-tab {
    position: absolute;
    top: 0%;
    left:0%;
    width: 100%;
    height: 98%;
    padding: 20px;
    background: #fff;
    overflow: hidden;
    display: none;
  }
  .acc-tab:hover > .acc-tab-header, .acc-tab.focused > .acc-tab-header {
    width: 2rem;
  }
  .acc-tab:hover > .acc-tab-header > .text, .acc-tab.focused > .acc-tab-header > .text {
    font-size: 1rem;
    transform: rotate(-90deg);
  }
  .acc-tab.loading > .acc-tab-header {
    width: 100%;
    padding: 10%;
  }
  .acc-tab.loading > .acc-tab-header > .text {
    display: none;
  }
  .acc-tab.loading > .acc-tab-header > .loader {
    display: block;
  }

  .acc-tab-header {
  position: absolute;
  left: 0;
  top: auto;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: orange;
  transition: width 0.5s ease-in-out;
}
  .acc-tab-header > .text {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 5rem;
    text-align: center;
    line-height: 20rem;
    color: #fff;
    transition: all 0.5s ease-in-out;
  }
  .text {
      color: #f2f2f2;
      font-size: 15px;
      width: 100%;
      text-align: center;
  }
  .acc-tab-header > .loader {
    display: none;
    margin: auto;
    width: 10rem;
    height: 10rem;
    border: 2px solid #fff;
    border-radius: 50%;
    animation: loading 2s linear infinite;
  }
  .acc-tab-header > .loader:after {
    content: "";
    position: absolute;
    left: 4.5rem;
    top: -0.5rem;
    width: 1rem;
    height: 1rem;
    background: #fff;
    border-radius: 50%;
    border-right: 2px solid orange;
  }
  .acc-tab-header > .loader:before {
    content: "";
    position: absolute;
    left: 4rem;
    top: -0.5rem;
    width: 0;
    height: 0;
    border-right: 1rem solid #fff;
    border-top: 0.5rem solid transparent;
    border-bottom: 0.5rem solid transparent;
  }

  @keyframes loading {
    50% {
      opacity: 0.5;
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .acc-tab-form {
    margin: 0 0 0 2rem;
    padding: 20%;
  }

  .acc-tab-input {
    display: block;
    width: 100%;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    box-shadow: none;
    border-color: #ccc;
    border-width: 0 0 2px 0;
  }
  .acc-tab-input + .acc-tab-input {
    margin: 10px 0 0;
  }
  .acc-tab-input:focus {
    outline: none;
    border-bottom-color: orange;
  }

  .acc-tab-btn {
    width: 5rem;
    height: 5rem;
    float: right;
    margin-top: 5%;
    border: none;
    background: orange;
    border-radius: 50%;
    font-size: 0;
    border: 0.6rem solid transparent;
    transition: all 0.3s ease-in-out;
  }
  .acc-tab-btn:after {
    content: "";
    position: absolute;
    left: 1rem;
    top: 0.8rem;
    width: 0;
    height: 0;
    border-left: 2.4rem solid #fff;
    border-top: 1.2rem solid transparent;
    border-bottom: 1.2rem solid transparent;
    transition: border 0.3s ease-in-out 0s;
  }
  .acc-tab-btn:hover, .acc-tab-btn:focus, .acc-tab-btn:active {
    background: #fff;
    border-color: orange;
    outline: none;
  }
  .acc-tab-btn:hover:after, .acc-tab-btn:focus:after, .acc-tab-btn:active:after {
    border-left-color: orange;
  }
