  html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

.lbl {
  font-size: 25px;
  margin-top: 15px;
}

body {
  font: 12px Arial, Helvetica, sans-serif;
  background: #e0e0e0;
  overflow: hidden;
}

.profile {
  width: 350px;
  height: 120px;
  margin: -50px -200px;
  position: absolute;
  top: 50%;
  left: 50%;
}
.profile figure, .profile figure img, .profile figure .back, .profile figure .front, .profile figure .back span {
  width: 90px;
  height: 90px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  -ms-border-radius: 500px;
  -o-border-radius: 500px;
  border-radius: 500px;
}
.profile figure {
  position: absolute;
  z-index: 3;
  left: -50px;
  top: 10px;
  background: #e0e0e0;
  padding: 5px;
  border-right: solid 1px #bdc6e7;
}
.profile figure img {
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.profile figure .front, .profile figure .back {
  position: absolute;
  top: 5px;
  left: 5px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}
.profile figure .front {
  z-index: 1;
}
.profile figure .back {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
.profile figure .back span {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 2;
  text-align: center;
  color: #ffffff;
  line-height: 88px;
  font-size: 20px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.profile figure .back span:active {
  -webkit-box-shadow: 0 0 25px 20px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 0 25px 20px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 0 25px 20px rgba(0, 0, 0, 0.1) inset;
}
.profile figure:hover .front {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
.profile figure:hover .back {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.profile article {
  position: absolute;
  padding: 5px 10px 5px 60px;
  background: #fff;
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2), 0 0 2px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2), 0 0 2px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2), 0 0 2px rgba(0, 0, 0, 0.1) inset;
  width: 280px;
  height: 115px;
}
.profile .info {
  z-index: 2;
}
.profile .info .name {
  font-size: 23px;
  margin-bottom: 5px;
  color: #36c;
}
.profile .info .job {
  font-size: 13px;
  color: #505050;
}
.profile .info .stats {
  width: 280px;
  height: 50px;
  margin-top: 10px;
  padding-top: 6px;
  border-top: solid 1px #ddd;
}
.profile .info .stats li {
  float: left;
  font-size: 22px;
  width: 33.3%;
  color: #353535;
}
.profile .info .stats li label {
  font-size: 13px;
  display: block;
  color: #757575;
}
.profile .contact {
  top: 10px;
  left: 10px;
}
.profile .contact ul {
  margin-top: 5px;
}
.profile .contact li {
  margin-bottom: 8px;
  clear: both;
}
.profile .contact li label {
  width: 90px;
  float: left;
  display: block;
  line-height: 17px;
}
.profile .contact li label img {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  float: left;
}
.profile .contact li label:after {
  content: ":";
}
.profile .contact li a {
  color: #36c;
  text-decoration: none;
}
.profile .contact li a:hover {
  text-decoration: underline;
}
.profile .otherLabel {
  position: absolute;
  z-index: 5;
  right: -15px;
  top: -5px;
  cursor: pointer;
  background: #1e78e8;
  padding: 2px 5px;
  color: #ffffff;
}
.profile .otherLabel.infoLabel {
  display: none;
}
.profile input[type=radio] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.hideClick {
  animation: second 500ms both ease;
}
.showClick {
  animation: first 500ms both ease;
}


@keyframes second {
  0% {
    z-index: 1;
    top: 10px;
    left: 10px;
  }

  50% {
    top: 150px;
    left: 10px;
  }

  100% {
    top: 0;
    left: 0px;
    z-index: 2;
  }
}

@keyframes first {
  from {
    top: 0;
    left: 0;
    z-index: 2;
  }

  to {
    top: 10px;
    left: 10px;
    z-index: 1;
  }
}
  body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, 
pre, form, fieldset, input, textarea, p, blockquote, th, td { 
  padding:0;
  margin:0;}

fieldset, img {border:0}

ol, ul, li {list-style:none}

:focus {outline:none}

body,
input,
textarea,
select {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #4c4c4c;
}

p {
  font-size: 12px;
  width: 150px;
  display: inline-block;
  margin-left: 18px;
}
h1 {
  font-size: 32px;
  font-weight: 300;
  color: #4c4c4c;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 10px;
}

html{
  background-color: #ffffff;
}

.testbox {
  margin: 20px auto;
  width: 343px; 
  height: 464px; 
  -webkit-border-radius: 8px/7px; 
  -moz-border-radius: 8px/7px; 
  border-radius: 8px/7px; 
  background-color: #ebebeb; 
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  border: solid 1px #cbc9c9;
}

input[type=radio] {
  visibility: hidden;
}

form{
  margin: 0 30px;
}

label.radio {
	cursor: pointer;
  text-indent: 35px;
  overflow: visible;
  display: inline-block;
  position: relative;
  margin-bottom: 15px;
}

label.radio:before {
  background: #3a57af;
  content:'';
  position: absolute;
  top:2px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

label.radio:after {
	opacity: 0;
	content: '';
	position: absolute;
	width: 0.5em;
	height: 0.25em;
	background: transparent;
	top: 7.5px;
	left: 4.5px;
	border: 3px solid #ffffff;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

input[type=radio]:checked + label:after {
	opacity: 1;
}

hr{
  color: #a9a9a9;
  opacity: 0.3;
}

input[type=text],input[type=password]{
  width: 200px; 
  height: 39px; 
  -webkit-border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
  -moz-border-radius: 0px 4px 4px 0px/0px 0px 4px 4px; 
  border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
  background-color: #fff; 
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  border: solid 1px #cbc9c9;
  margin-left: -5px;
  margin-top: 13px; 
  padding-left: 10px;
}

input[type=password]{
  margin-bottom: 25px;
}

#icon {
  display: inline-block;
  width: 30px;
  background-color: #3a57af;
  padding: 8px 0px 8px 15px;
  margin-left: 15px;
  -webkit-border-radius: 4px 0px 0px 4px; 
  -moz-border-radius: 4px 0px 0px 4px; 
  border-radius: 4px 0px 0px 4px;
  color: white;
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  border: solid 0px #cbc9c9;
}

.gender {
  margin-left: 30px;
  margin-bottom: 30px;
}

.accounttype{
  margin-left: 8px;
  margin-top: 20px;
}

a.button {
  font-size: 14px;
  font-weight: 600;
  color: white;
  padding: 6px 25px 0px 20px;
  margin: 10px 8px 20px 0px;
  display: inline-block;
  float: right;
  text-decoration: none;
  width: 50px; height: 27px; 
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px; 
  border-radius: 5px; 
  background-color: #3a57af; 
  -webkit-box-shadow: 0 3px rgba(58,87,175,.75); 
  -moz-box-shadow: 0 3px rgba(58,87,175,.75); 
  box-shadow: 0 3px rgba(58,87,175,.75);
  transition: all 0.1s linear 0s; 
  top: 0px;
  position: relative;
}

a.button:hover {
  top: 3px;
  background-color:#2e458b;
  -webkit-box-shadow: none; 
  -moz-box-shadow: none; 
  box-shadow: none;
  
}
 





