*{
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding:0;
}
html{
  overflow-x:auto;
  overflow-y: scroll;
  background: linear-gradient(white,ghostwhite,pink,yellow);
}

body{
  font-family: Verdana,sans-serif;
  background-repeat: no-repeat;
  min-width:920px;
}
.fl-right{
  float: right;
}

marquee{
  text-align: center;
}
marquee h2{
  text-decoration: underline;
}
#blogname{
  height: 100%;
  padding: 2px;
  font-family: cursive;
  text-shadow: 2px 2px 4px grey;
  animation-name: bloganimation;
  animation-iteration-count: infinite;
  animation-duration: 4s;
  animation-direction: alternate;
}

#banner{
  width:100%;
  text-align: center;
  font-size: 48px;
  line-height: 90px;
  padding: 5px;
  height: 95px;
  background: #232f3e;
}

#login{
  align-items: center;
  color: darkblue;
}
#login form fieldset input{
  background-color: white;
}
legend{
  color: black;
}
#login input{
  width:100%;
}

.contentwrapper{
  width: inherit;
  height: inherit;
  text-align: justify;
  margin-top: 2px;
  float: none;
}
.contentwrapper form fieldset{
  border:0px;
  height: 97%;
}
.contentwrapper form fieldset input,textarea{
  margin: 3px;
}
.contentdata{
  width: 65%;
  height:85%;
}

ul.navbar{
  list-style-type: none;
  padding: 5px;
  height: 45px;
  background: #232f3e;
}

ul.navbar li{
  border: 1px solid green;
  border-bottom-width: medium;
  border-right-width: 2px;
  border-bottom-color: blueviolet;
  border-radius: 10px;
  background-color: whitesmoke;
  font-size: 20px;
  line-height: 30px;
  font-family: fantasy;
  text-align: center;
  padding: 0px 10px 0px 10px;
}

ul.navbar li a{
  color:inherit;
  text-decoration: none;
  text-shadow: inherit;
  overflow:hidden;
}
@media screen and (max-width:919px) {
ul.navbar li{
    width: auto;
    border-radius:0;
    border:none;
    margin:0;
    display:inline-block;
    text-align:justify;
    float: left;
    background-color:inherit;
}

ul.navbar li a{
  display: inline;
  font-size:smaller;
  color:beige;
}
ul.navbar{
  float: left;
  width:100%;
  margin: 0;
}

li a.hvr-pulse-grow:hover{
  text-decoration:underline;
  color:orange;
}
  
}

/*Animation*/
@keyframes bloganimation{
  0%{margin-left:90px;color:black;}
  25%{margin-left: 190px;color:pink;}
  50%{margin-left:290px;color:red;font-size: 10px}
  60%{margin-left:250px;color:cyan;}
  75%{margin-right:190px;color:violet;}
  85%{margin-right:90px;color:orange;}
  100%{margin-left:90px;color:black;}
}

/* Pulse Grow */
@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.hvr-pulse-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}



/* Float Shadow */
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}


.mySlides {display:none}

/* Slideshow container */
.slideshow-container {
  width: auto;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 20s;
  animation-name:fade;
  animation-duration: 20s;
}

@-webkit-keyframes fade {

}

@keyframes fade {

}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.slideimg {
  width: 100%;
  max-height: 460px;
}

#panel, #flip {
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
}

#panel {
    padding: 50px;
    display: none;
}

ul.tab {
    list-style-type: none;
    margin: 50px 5px 0 10px;
    padding: 0;
    overflow: hidden;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {
    background-color: #ccc;
}

/* Style the tab content */
#tabdetails {
    display: none;
    margin: 0 5px 13px 10px;
    padding: 20px;
    color: darkblue;
    font-family: cursive;
}


.tabcontents{

}
